<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-calendar 
        [date]="dateTest"
        [disabledDates]="['2018-08-25', '2018-08-26']"></app-calendar>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <app-date-pickr [dateFormat]="'E MMM dd, yyyy'"></app-date-pickr>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
        <app-date-pickr 
          [dateFormat]="'E MMM dd, yyyy'" 
          [type]="'range'" 
          [name]="date"
          [disabledDates]="disabledDates"></app-date-pickr>
    </div>
  </div>
</div>


