span, a {
    display: block;
    padding:0.3em 0;
    border:1px solid transparent;
}
a {
    color:#333333;
    text-decoration: none;
}
a.disabled {
    text-decoration: line-through;
}
a.today {
    background:#fdcb6e;
    color:#fff;
}
a.highlight {
    background:#19B5FE;
    color:#fff;
}
a.selected {
    background:#40739e;
    color:#fff;
}
a.off-month {
    background:#e7e7e7;
    color:#aaa;
}
a:hover {
    text-decoration: none;
    background:#19B5FE;
    color:#fff;
}
a.disabled:hover {
    text-decoration: line-through;
}
span {
    color:#aaa;
}
span.off-month {
    background:#e7e7e7;
    color:#aaa;
}
span.disabled {
    text-decoration: line-through;
}
span.empty {
    background:#e7e7e7;
}