<div class="calendar-wrapper">
    <div class="c-header clearfix">
        <div class="left">
            <a href="" 
                *ngIf="!showYS && !showMS"
                (click)="cycleMonth($event, 'prev')">&lsaquo;</a>
        </div>
        <div class="center">
            <a href="" (click)="showMonthSelection($event)">{{ activeMonth | date:'LLL'}}</a>
            <a href="" (click)="showYearSelection($event)">{{ activeMonth | date:'yyyy'}}</a>
            
        </div>
        <div class="right">
            <a href="" 
                *ngIf="!showYS && !showMS"
                (click)="cycleMonth($event, 'next')">&rsaquo;</a>
        </div>
    </div>
    <div class="c-body">
        <div 
            class="months selection"
            *ngIf="showMS" 
            (clickOutside)="hideSelections()" >
                <div class="items">
                    <label 
                        *ngFor="let month of months"
                        [ngClass]="{'current': isSelectedMonth(month)}"
                        (click)="setMonth($event, month)">{{ month }}</label>
                    <div class="btns">
                        <label (click)="hideSelections()" class="bt full">Close</label>
                    </div>
                </div>
        </div>
        <div 
            class="years selection" 
            *ngIf="showYS" 
            (clickOutside)="hideSelections()">
                <div class="items" >
                    <label
                        *ngFor="let year of years"
                        [ngClass]="{'current': isSelectedYear(year)}" 
                        (click)="setYear($event, year)">{{ year }}</label>
                    <div class="btns">
                        <label (click)="hideSelections()">Close</label>
                        <label (click)="cycleYear('prev')">&lsaquo;</label>
                        <label (click)="cycleYear('next')">&rsaquo;</label>
                    </div>
                </div>
            </div>
        <div class="c-weeks clearfix">
            <div class="col-day" *ngFor="let label of daysOfWeek"><label>{{ label }}</label></div>
        </div>
        <div class="c-days">
            <div 
                *ngFor="let day of days; let i = index" 
                class="col-day" 
                (mouseenter)="highlightDay($event, day)"
                >
                
                <app-calendar-day 
                    [day]="day"
                    (clicked)="selectDay($event)"></app-calendar-day>
                <!-- <ng-template *ngIf="day.clickable; then tDefault else tDisabled"></ng-template>
                <ng-template #tDisabled>
                    <span [ngClass]="{'disabled': isDateDisabled(day)}">
                        <ng-template *ngIf="day then tDate else tEmptyDate"></ng-template>
                    </span>
                </ng-template>
                <ng-template #tDefault>
                    <a href="#" 
                        (click)="selectDay($event, day)"
                        >{{ day.date | date: 'd' }}</a>
                </ng-template>

                <ng-template #tDate>{{ day.date | date: 'd' }}</ng-template>
                <ng-template #tEmptyDate>&nbsp;</ng-template> -->
                
            </div>
        </div>
    </div>
</div>

